<div class="container-fluid mt-5" style="max-width: 800px;">
  <%= form_with model: @post, local: true do |f| %>
    <%= f.label :title %>
    <div class="blog-title"><%= f.text_area :title, class: "form-control" %></div>
    <%= f.rich_text_area :content %>
    <%= f.submit "送信", class: "btn btn-outline-primary mt-5", id: 'btn', disabled: true %>
  <% end %>
</div>
