<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content='summary' />
    <meta name="twitter:site" content='@aim10riru' />
    <meta property="og:url" content='https://my-blog-for-oshi.herokuapp.com' />
    <meta property="og:title" content='MY BLOG' />
    <meta property="og:description" content='ブログアプリ作成中！' />
    <meta property="og:image" content='<%= image_url '/IMG_0179.JPG' %>'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.png') %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon'%>
  </head>
  <body>
    <div class="wrapper <%= 'bg-lighten' if controller_name != 'top' %>">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
